*{
  margin: 0;
  padding: 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}
.container{
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(500deg, #126655, #ffffff);
  color:rgb(205, 104, 50);
  padding: 10px;
}

#pic  {
  float: right;    
   margin: 50px 100px 50px 50px;
   border-radius: 200px;
  }

.calculator{
  width: 100%;
  max-width: 600px;
  margin-left: 10%;
  margin-top: 10%;
}
.calculator h1{
  font-size: 60px;
}
.calculator h1 span{
  color: rgb(0, 81, 255);
}
.input-box{
  margin: 5% 0;
  padding: 15px;
  border-radius: 5%;
  background: rgba(255,255,255,0.3);
  display: flex;
  align-items: center;
}
.input-box input{
  position: relative;
  flex: 1;
  margin-right: 20px;
  padding: 14px 20px;
  border: 0;
  outline: 0;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
}
.input-box button{
  background: #ffff76;
  color: #333;
  position: relative;
  padding: 15px 30px;
  border: 0;
  outline: 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}
.input-box button:hover{
  background:rgb(19, 134, 9);
  color: white;
}
.input-box input::-webkit-calender-picker-indicator{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  position: absolute;
  background-position: calc(100% - 10px);
  background-size: 30px;
  cursor: pointer;
}
#result{
  font-size: 20px;
  font-weight: 600;
}




